<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- navbar.html -->
  <nav
    class="mx-auto bottom-0 w-full max-w-sm py-6 p-4 flex justify-around bg-white"
  >
    <button class="">
      <i class="fa-solid fa-house fa-xl"></i>
    </button>
    <button class="">
      <i class="fa-solid fa-chart-line fa-xl"></i>
    </button>
    <div class="relative w-14">
      <button
        type="submit"
        class="w-[4rem] h-[4rem] absolute -top-14 text-white font-semibold rounded-full transition duration-300 bg-gradient-to-l from-[#7B91FF] to-[#95BEFF] text-white"
      >
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
      </button>
    </div>
    <button class="">
      <i class="fa-solid fa-camera fa-xl"></i>
    </button>
    <button class="">
      <i class="fa-regular fa-user fa-xl"></i>
    </button>
  </nav>
</html>
